{% extends 'base.html.twig' %}

    {% block title %}{% trans %}Qui sommes-nous {% endtrans %}{% endblock %}
    

    {% block body %}
        
<!-- START SECTION BREADCRUMB -->
<section class="bg_dark_blue breadcrumb_section">
	<div class="container">
    	<div class="row align-items-center">
        	<div class="col-sm-12 text-center">
            	<div class="page-title">
            		<h1>{% trans %}Qui sommes-nous {% endtrans %}</h1>
                </div>
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a href="{{ path('index') }}">{% trans %}Accueil{% endtrans %}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{% trans %}Qui sommes-nous{% endtrans %}</li>
                  </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="shape_img">
    	<div class="ol_shape11">
            <div class="animation" data-animation="fadeInLeft" data-animation-delay="0.5s">
                <img src="{{ asset('deco/assets/images/shape11.png') }}" alt="image">
            </div>
        </div>
        <div class="ol_shape12">
            <div class="animation" data-animation="fadeInLeft" data-animation-delay="0.5s">
                <img src="{{ asset('deco/assets/images/shape12.png') }}" alt="image">
            </div>
        </div>
        <div class="ol_shape13">
            <div class="animation" data-animation="fadeInLeft" data-animation-delay="0.5s">
                <img src="{{ asset('deco/assets/images/shape7.png') }}" alt="image">
            </div>
        </div>
    </div>
</section>
<!-- END SECTION BREADCRUMB -->

<!-- START SECTION ABOUT -->
<section>
	<div class="container">
    	<div class="row align-items-start">
        	<div class="col-md animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                <div class="video_box overlay_bg_30 mb-3 mb-sm-4 mb-md-0">
                	<img src="{{ asset('deco/assets/images/team2.jpg') }}" alt="responsable-img">
                    
                </div>
            </div>
        	<div class="col-md-8 animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                <div class="heading_s1">
                	<span class="sub_heading">{% trans %}Qui suis je ? {% endtrans %}</span>
                	<h2>{% trans %}responsable{% endtrans %}</h2>
                </div>
                    <p>{% trans %} Super cleaning {% endtrans %}

                    </p>
                    <a class="btn btn-default rounded-0 animation" href="#Moncollapse" data-toggle="collapse" aria-expanded="false" aria-controls="MonCollapse" data-animation="fadeInUp" data-animation-delay="0.7s">{% trans %}Lire plus{% endtrans %}</a>
                
            </div>
            <section id= "Moncollapse" class ="collapse"> 
            
                <div class="container well"> 
                    {% trans %}
                                
                        Créée en 2015 par Mr et Mme NETTOYAGE, la société clean services est à l’origine une entreprise de nettoyage professionnel familiale de type artisanal. Elle s’est, dans un premier temps, principalement orientée vers le nettoyage immobilier. Mais depuis, d’autres secteurs ont été conquis tels que les secteurs du nettoyage industriel, tertiaire, alimentaire et d’espace extérieur.

Aujourd’hui, nos clients de la première heure nous font toujours confiance, ce qui est pour nous un bon indicateur de la qualité de nos services. Ainsi notre société a connu, depuis sa création, une progression naturelle et constante.
                    {% endtrans %}
                </div>
            </section>
        	
            
            <div class="col-md-6 animation" data-animation="fadeInUp" data-animation-delay="0.3s" style = "margin-top:40px">
            	<div class="heading_s1">
                	<span class="sub_heading"> {% trans %}Comment nous travaillons{% endtrans %} </span>
                	<h2>{% trans %}Vite &  Propre{% endtrans %}</h2>
                </div>
                <p>{% trans %} 
               Nous avons dorénavant la capacité de répondre à des besoins divers et variés et de défier notre concurrence sur quasiment tous les domaines de la propreté. Armor se positionne d’ores et déjà en tant qu’« OUTSIDER » parmi les soixante plus grandes entreprises de nettoyage au niveau national, tout en gardant l’esprit propreté initial.

Cette approche de la propreté reste, au travers de nos diverses interventions, le reflet de notre société. Nous avons une expérience de plus de 7 ans en la matière et notre leitmotiv reste perpétuellement la réelle envie de satisfaire nos clients.
                {% endtrans %}</p>
                
            </div>
        </div>
    </div>
</section>
<!-- END SECTION ABOUT -->

<!-- START SECTION BENIFIT -->
<section class="bg_gray">
	<div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 col-md-10 text-center animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                <div class="heading_s1">	
                    <span class="sub_heading">{% trans %}Notre Objectif{% endtrans %}</span>
                    <h2>{% trans %}Atteindre le Bien Être {% endtrans %}</h2>
                </div>
                <p>{% trans %}En offrant un environnement sain {% endtrans %}</p>
                <div class="small_divider clearfix"></div>
            </div>
        </div>
		<div class="row">
        	<div class="col-lg-4 col-md-6">
            	<div class="icon_box box_shadow4 icon_box_style2 animation" data-animation="fadeInRight" data-animation-delay="0.2s">
                	<div class="box_icon">
                    	<i class="flaticon-strong-body"></i>
                    </div>
                    <div class="intro_desc">
                    	<h5>{% trans %}Notre Croyance {% endtrans %}</h5>
                        <p>{% trans %} On est plus productif quand ce qui nous entoure brille{% endtrans %} </p>
                    </div>
                </div>
                <div class="icon_box box_shadow4 icon_box_style2 animation" data-animation="fadeInRight" data-animation-delay="0.3s">
                	<div class="box_icon">
                    	<i class="flaticon-flexibility"></i>
                    </div>
                    <div class="intro_desc">
                    	<h5>{% trans %}Notre Conviction {% endtrans %}</h5>
                        <p>{% trans %} Clean services offre de bon prix {% endtrans %}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 order-lg-last">
            	<div class="icon_box box_shadow4 icon_box_style2 animation" data-animation="fadeInLeft" data-animation-delay="0.2s">
                	<div class="box_icon">
                    	<i class="flaticon-healthy-lifestyle"></i>
                    </div>
                    <div class="intro_desc">
                    	<h5>{% trans %}Notre Volonté{% endtrans %}</h5>
                        <p> {% trans %}Offrir un service de qualité
                        {% endtrans %} </p>
                    </div>
                </div>
                <div class="icon_box box_shadow4 icon_box_style2 animation" data-animation="fadeInLeft" data-animation-delay="0.3s">
                	<div class="box_icon">
                    	<i class="flaticon-drops-blood"></i>
                    </div>
                    <div class="intro_desc">
                    	<h5>{% trans %}Notre Désir{% endtrans %}</h5>
                        <p> {% trans %}Améliorer votre bien-être émotionnel et rétablir votre point d’équilibre ou de santé en vous permettant de travailler dans un environnement propre.{% endtrans %} </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
            	<div class="text-center benifits_bg animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                	<img src="{{ asset('deco/assets/images/benifits_img.png') }}" alt="benifits_img"/>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- END SECTION BENIFIT -->

<!-- START SECTION TESTIMONIAL -->

<section class="overlay_bg_60 parallax_bg" data-parallax-bg-image="{{ asset('deco/assets/images/testimonial_bg.jpg') }}">
	<div class="container">
    	<div class="row justify-content-center">
        	<div class="col-xl-6 col-lg-8 col-md-10 text-center text_white animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                <div class="heading_s3 text-center heading_light">
                    <h3>{% trans %}Temoignage! {% endtrans %}</h3>
                    <div class="title_icon"><i class="flaticon-lotus"></i></div>
                </div>
                <div class="xs_divider clearfix d-none d-md-block"></div>
            </div>
        </div>
        <div class="row justify-content-center">
        	<div class="col-md-12 animation" data-animation="fadeInUp" data-animation-delay="0.3s">
            	<div class="testimonial_slider testimonial_section testimonial_style3 text_white carousel_slider owl-carousel owl-theme dots_white nav_transparent_white" data-margin="15" data-nav="true" data-dots="false" data-loop="true" data-autoplay="true" data-items="1" data-center="true" data-autoheight="true">
                    <div class="testimonial_box">
                    	<div class="testi_desc">
                            <p>{% trans %}"cool nettoyage {% endtrans %}"</p>
                        </div>
                        <div class="testi_meta">
                        	<div class="testimonial_img">
                                <img src="{{ asset('deco/assets/images/client_img1.jpg') }}" alt="client">
                            </div>
                        	<div class="testi_user">
                            	<h5>Merry Walter</h5>
                                <span class="text-white">{% trans %}Enseignante {% endtrans %}</span>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial_box">
                    	<div class="testi_desc">
                            <p>{% trans %}"j'aime le service" {% endtrans %}</p>
                        </div>
                        <div class="testi_meta">
                        	<div class="testimonial_img">
                                <img src="{{ asset('deco/assets/images/client_img2.jpg') }}" alt="client">
                            </div>
                        	<div class="testi_user">
                            	<h5>Elena Mark</h5>
                                <span class="text-white">Designer</span>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial_box">
                    	<div class="testi_desc">
                            <p>{% trans %}C'est magnifique la façon dont ils bien leur travail.{% endtrans %}</p>
                        </div>
                        <div class="testi_meta">
                        	<div class="testimonial_img">
                                <img src="{{ asset('deco/assets/images/client_img3.jpg') }}" alt="client">
                            </div>
                        	<div class="testi_user">
                            	<h5>Calvin William</h5>
                                <span class="text-white">{% trans %}Artiste {% endtrans %}</span>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial_box">
                    	<div class="testi_desc">
                            <p>{% trans %}TrÈs professionnel {% endtrans %}</p>
                        </div>
                        <div class="testi_meta">
                        	<div class="testimonial_img">
                                <img src="{{ asset('deco/assets/images/client_img4.jpg') }}" alt="client">
                            </div>
                        	<div class="testi_user">
                            	<h5>Maria Wolter</h5>
                                <span class="text-white">{% trans %}Comptable{% endtrans %}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- END SECTION TESTIMONIAL -->

<!-- START SECTION COUNTER -->
<section class="overlay_bg_70 parallax_bg" data-parallax-bg-image="{{ asset('deco/assets/images/counter_bg.jpg') }}">
    <div class="container">
        <div class="row">
        	<div class="col-md-3 col-6 animation" data-animation="fadeInUp" data-animation-delay="0.2s">
            	<div class="box_counter counter_white text-center">
                    <i class="flaticon-trainers"></i>
                    <h3 class="counter_text"><span class="counter">18</span>+</h3>
                    <p>{% trans %}Agents{% endtrans %}</p>
                </div>
            </div>
            <div class="col-md-3 col-6 animation" data-animation="fadeInUp" data-animation-delay="0.3s">
            	<div class="box_counter counter_white text-center">
                    <i class="flaticon-trophy"></i>
                    <h3 class="counter_text"><span class="counter">1</span>+</h3>
                    <p>{% trans %}Nettoyage de Qualité {% endtrans %}</p>
                </div>
            </div>
            <div class="col-md-3 col-6 animation" data-animation="fadeInUp" data-animation-delay="0.4s">
            	<div class="box_counter counter_white text-center">
                    <i class="flaticon-users"></i>
                    <h3 class="counter_text"><span class="counter">1800</span>+</h3>
                    <p>{% trans %}Membres satisfaits {% endtrans %}</p>
                </div>
            </div>
            <div class="col-md-3 col-6 animation" data-animation="fadeInUp" data-animation-delay="0.5s">
            	<div class="box_counter counter_white text-center">
                    <i class="flaticon-classes"></i>
                    <h3 class="counter_text"><span class="counter"></span>+</h3>
                    <p>{% trans %}Prix abordable {% endtrans %}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION COUNTER -->

<!-- START SECTION TEACHER -->
<!--
<section class="pb_70">
	<div class="container">
    	<div class="row justify-content-center">
        	<div class="col-xl-6 col-lg-8 col-md-10 text-center animation" data-animation="fadeInUp" data-animation-delay="0.2s">
            	<div class="heading_s1">
                	<span class="sub_heading">Yoga teacher</span>
                	<h2>Our Awesome Team</h2>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur blandit magna adipiscing elit ncididunt labore et dolore magna aliqua enim. </p>
                <div class="small_divider clearfix"></div>
            </div>
        </div>
        <div class="row">
        	<div class="col-lg-3 col-sm-6">
            	<div class="team_box animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                	<div class="team_img">
                    	<img src="{{ asset('deco/assets/images/team1.jpg') }}" alt="team1">
                        <ul class="list_none social_icons social_style1 rounded_social">
                            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                            <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                            <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                        </ul>
                    </div>
                    <div class="team_info text-center">
                        <div class="team_title">
                            <h5>Alea Brooks</h5>
                            <span>Yoga Teacher</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
            	<div class="team_box animation" data-animation="fadeInUp" data-animation-delay="0.3s">
                	<div class="team_img">
                    	<img src="{{ asset('deco/assets/images/team2.jpg') }}" alt="team2">
                        <ul class="list_none social_icons social_style1 rounded_social">
                            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                            <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                            <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                        </ul>
                    </div>
                    <div class="team_info text-center">
                        <div class="team_title">
                            <h5>Alea Brooks</h5>
                            <span>Yoga Teacher</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
            	<div class="team_box animation" data-animation="fadeInUp" data-animation-delay="0.4s">
                	<div class="team_img">
                    	<img src="{{ asset('deco/assets/images/team3.jpg') }}" alt="team3">
                        <ul class="list_none social_icons social_style1 rounded_social">
                            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                            <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                            <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                        </ul>
                    </div>
                    <div class="team_info text-center">
                        <div class="team_title">
                            <h5>Alea Brooks</h5>
                            <span>Yoga Teacher</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
            	<div class="team_box animation" data-animation="fadeInUp" data-animation-delay="0.5s">
                	<div class="team_img">
                    	<img src="{{ asset('deco/assets/images/team4.jpg') }}" alt="team4">
                        <ul class="list_none social_icons social_style1 rounded_social">
                            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                            <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                            <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                        </ul>
                    </div>
                    <div class="team_info text-center">
                        <div class="team_title">
                            <h5>Alea Brooks</h5>
                            <span>Yoga Teacher</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
-->
<!-- END SECTION TEACHER -->
    {% endblock %}
   